h1, h2, h3, h4, .sub1 { font-family: 'Bellefair', sans-serif }

h1 {
  font-size: 9.375rem;
}
h2 {
  font-size: 6.25rem;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
  letter-spacing: .295rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.sub1 {
  font-size: 1.75rem;
}

.sub2 {
  font-size: .875rem;
  letter-spacing: .147rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.nav-txt {
  font-size: .88rem;
  letter-spacing: .169rem;
  font-family: 'Barlow Condensed', sans-serif;
}
